@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "mukta";
  font-size: 15px;
}

body {
  background-image: radial-gradient(black, gray, white);
  object-fit: cover;
  overflow-x: hidden;
}

/* BARRA DE NAVEGACION  */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.titulo-grande {
  font-size: 70px; /* Ajusta el tamaño del título a tu preferencia */
  font-weight: bold;
  color: #050505; /* Ajusta el color del título si lo deseas */
  text-decoration: dashed; /* Opcional: agrega subrayado al título */
}

.navbar {
  background-color: rgb(187, 185, 185);
  display: flex;
  justify-content: center;
  list-style: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.navbar a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  padding: 15px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #333;
}

.patrosinador1 {
  width: 170px;
  max-width: 100%;
  max-height: 100%;
  height: 170px;
  justify-content: center;
}

.patrosinador2 {
  width: 170px;
  max-width: 100%;
  max-height: 100%;
  height: 170px;
  justify-content: center;
}

.title {
  color: white;
  font-size: 36px;
  margin-right: auto;
  padding-left: 20px;
  text-align: center;
}

/* MAIN: Estilos generales para las tarjetas */
.card {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border: solid 2px black;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-text p {
  font-size: 14px;
}

/* Estilos para el texto informativo */
.card-text {
  padding: 10px 0; /* Espacio interno arriba y abajo del texto */
}

.d-block-w-100 {
  width: 100%;
  height: 500px;
  object-fit: contain;
  justify-self: center;
}

/* CAJA DE COMENTARIOS */
.comment-box {
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
}

.comment-box h2 {
  margin: 0px 0 10px;
}

.comment-box form {
  display: flex;
  flex-direction: column;
}

.comment-box textarea {
  resize: none;
  margin-bottom: 10px;
  padding: 5px;
}

.comment-box button {
  padding: 8px 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

.comment-box button:hover {
  background-color: #333;
}

/* Envios */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.item {
  text-align: center;
  color: white;
}

img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

p {
  margin-top: 10px;
}

.nombretabla {
  color: white;
  text-align: center;
  margin: 90px 90px 90px 90px;
}

table {
  width: 97%;
  border-collapse: collapse;
  color: white;
  margin-left: 25px;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  color: white;
}

th {
  background-color: #000000;
}

.instalogo {
  width: 300px;
  height: 300px;
}

.wpplogo {
  width: 250px;
  height: 250px;
}

.imagen-enlace {
  display: inline-block;
}

@media (max-width: 768px) {
  /* Agrega aquí tus estilos específicos para móviles */
  .producto {
    width: 100%; /* Haz que los productos ocupen el ancho completo */
    margin: 10px; /* Reduce el margen */
    flex: auto;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .nav {
    font-size: 15px;
    display: flex;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer {
    background-color: black;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .footer .patrosinador1, .footer .patrosinador2 {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 600px) {
  table {
    display: block;
  }
  th, td {
    display: block;
    width: 100%;
  }
}
/* Estilo para pantallas pequeñas (ejemplo: menos de 600px) */
@media screen and (max-width: 600px) {
  .item img {
    display: block; /* Hace que las imágenes sean elementos de bloque */
    margin-bottom: 10px; /* Agrega espacio entre las imágenes */
  }
}
/* Catalogo */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.producto {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #050505;
  text-align: center;
  background-color: #f9f9f9;
}

.producto img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.producto img:hover {
  transform: scale(1.1);
}

.catalogo :hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.producto h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.producto p {
  font-size: 1rem;
  color: #333;
  margin-top: 5px;
}

.logoinstagram {
  width: 250px;
  max-width: 100%;
  max-height: 100%;
  height: 250px;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
