@media (max-width: 400px) {
// BARRA DE NAVEGACION
.navbar {
  display: flex;
  flex-direction: row;
  a {
    font-size: 20px;
  }
}
// FOOTER
.footer {
  background-color: black;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  .patrosinador1, .patrosinador2, .patrosinador3 {
    width: 10px;
    height: 10px;
  }
}
// FONDO INDEX

}

