@media (max-width: 768px) {
  /* Agrega aquí tus estilos específicos para móviles */
  .producto {
      width: 100%; /* Haz que los productos ocupen el ancho completo */
      margin: 10px; /* Reduce el margen */
      flex: auto;
  }
  // NAVBAR
  @media (max-width: 768px) {
.nav {
  font-size: 15px;
  display: flex;
}
.navbar {
  flex-direction: column;
  justify-content: center;
}
  }
// FOOTER
.footer {
  background-color: black;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  .patrosinador1, .patrosinador2 {
    width: 10px;
    height: 10px;
  }
}
}

