/* MEDIAQUERIES: Estilos para pantallas de ancho igual o menor a 400px */
@media only screen and (max-width: 990px) {
    .card {
      max-width: none; /* Remover la restricción de ancho máximo */
      width: auto; /* Ancho automático para ocupar todo el espacio disponible */
      margin: 10px auto; /* Centrar las tarjetas */
    }
    
    .card img {
      max-width: 200px;
    }
    
    .card-text p {
      font-size: 12px;
    }
  }
  
    section {
      display: flex;
      justify-content: center;
      gap: 100px; 
      height: 500px;
  }
  
  .card {
      width: 200px; 
      padding: 10px;
      text-align: center;
  }
  
  
  
  .card p {
      margin: 10px 0 0;
      font-size: 12px;
  }
  @media only screen and (max-width: 990px) {
    footer {
      display: flex;
      justify-content: center;
      width: auto;
      height: auto;
    }
    .patrosinador1 {
      width: 65px;
      height: 65px;
      /* margin: 90px 90px 90px 150px; */
    }
  
  .patrosinador2 {
    width: 50px;
    height: 50px;
    /* margin: 90px 90px 90px 150px; */
  }
  
    .patrosinador3 {
      width: 150px;
      height: 150px;
      /* margin: 70px 90px 20px 90px; */
    }
  }
 